.communes-container {
    background-color: white;
    padding: 2rem 1.5rem;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.communes-content {
    margin-bottom: 1rem;
}

.communes-content + hr {
    margin-bottom: 1rem;
}

.communes-content summary {
    font-size: 1.2rem;
    font-family: montserrat-medium;
    margin-bottom: 1rem;
    cursor: pointer;
}

.communes-content-list {
    display: flex;
    gap: 1.5rem;
    padding-inline: 1.5rem;
}

.communes-item {
    flex-basis: calc(20% - 1.5rem);
    text-decoration: none;
    color: var(--primary);
    display: inline-flex;
    align-items: center;
    border: 2px solid var(--primary);
    padding: .1rem .8rem;
    border-radius: .5rem;
    transition: transform.3s, box-shadow.3s;
}

.communes-item:hover {
    transform: scale(1.05);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* .communes-item::before {
    content: "> ";
    display: inline-block;
    margin-right: .3rem;
} */

.communes-item-title {
    font-size: .9rem;
    font-family: montserrat-medium;
}

@media only screen and (max-width: 768px) {
    .communes-content-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding-inline: 1.5rem;
    }

    .communes-item {
        flex-basis: calc(100% - 1.5rem);
        text-decoration: none;
        color: var(--primary);
        display: inline-flex;
        align-items: center;
        border: 2px solid var(--primary);
        padding: 1rem .8rem;
        border-radius: .5rem;
        transition: transform.3s, box-shadow.3s;
    }
}
