.file__name {
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    display: inline-flex;
}
.input__file {
    opacity: 0;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
}