footer {
    background-color: var(--blue);
    padding: 1.5rem .5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;
    color: var(--white);
}

.address-container {
    display: flex;
    flex-direction: column;
}

footer .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

footer .logo img {
    width: 50%;
}

.contact-info p {
    margin-bottom: .8rem;
}

.contact-info p:last-of-type span:last-of-type {
    margin-top: .8rem;
    margin-left: 2rem;
}

footer .bold {
    font-weight: bold;
}

.links-container h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: montserrat-bold;
}

footer .links-container ul {
    list-style-type: disc;
    padding-inline-start: 0;
    margin-block: .7rem;
}

footer .links-container ul li {
    margin-bottom: .8rem;
    text-align: center;
}

footer .links-container ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    font-family: montserrat-semi-bold;
    text-transform: uppercase;
}

.newsletter-title {
    text-align: center;
    text-transform: uppercase;
    font-family: montserrat-bold;
}

.newsletter-text {
    text-align: center;
    margin-block: .5rem;
}

.newsletter-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.newsletter-container form input[type="email"] {
    flex-basis: 70%;
    padding:.5rem 1rem;
    border: none;
    border-top-left-radius:.3rem;
    border-bottom-left-radius:.3rem;
    font-family: montserrat;
}

.newsletter-container form button[type="submit"] {
    flex-basis: 30%;
    padding:.5rem 1rem;
    border: none;
    border-top-right-radius:.3rem;
    border-bottom-right-radius:.3rem;
    background-color: var(--primary);
    color: var(--white);
    font-family: montserrat-semi-bold;
    cursor: pointer;
}

.social-media-icons {
    margin-block: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .8rem;
}

.social-media-icons a {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-signature {
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    padding: .5rem 1rem;
}

.footer-signature .bold {
    font-family: montserrat-bold;
}

.footer-signature .design-by {
    margin-top: .8rem;
}

@media only screen and (min-width: 992px) {
    footer {
        background-color: var(--blue);
        padding: 3rem 7rem;
        display: flex;
        flex-direction: row;
        column-gap: 3rem;
        row-gap: 0;
    }

    .address-container {
        flex: 1 1 35%;
        display: flex;
        flex-direction: column;
    }

    footer .logo img {
        width: 40%;
    }

    .links-container {
        flex: 1 1 30%;
    }

    .links-container h2 {
        margin-bottom: 1.5rem;
        text-align: left;
    }

    footer .links-container ul {
        list-style-type: none;
        padding-inline-start: 0;
        margin-block: .7rem;
    }

    footer .links-container ul li {
        margin-bottom: .8rem;
        text-align: left;
    }

    footer .links-container ul li a {
        color: var(--white);
        text-decoration: none;
        font-size: 1.1rem;
        font-family: montserrat;
    }

    .newsletter-container {
        flex: 1 1 30%;
    }

    .newsletter-title {
        margin-bottom: 1.5rem;
    }

    .newsletter-text {
        margin-bottom: 1rem;
    }

    .newsletter-container form input[type="email"] {
        flex-basis: 70%;
        padding: 1rem 1.2rem;
    }

    .newsletter-container form button[type="submit"] {
        flex-basis: 30%;
        padding: 1rem 1.2rem;
    }

    .social-media-icons a {
        text-decoration: none;
        background-color: var(--primary);
        color: var(--white);
        width: 3rem;
        height: 3rem;
    }
}
