header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .8rem;
    border-bottom: 1.5px solid #eee;
    position: sticky;
    top: 0;
    z-index: 2000;
}

.header-title {
    font-size: .8rem;
    font-family: montserrat-bold;
}

.header-social-container {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    list-style: none;
}

.header-social-item {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    text-align: center;
    background-color: var(--primary);
}

.header-social-item a {
    color: white;
    text-decoration: none;
}

.menu-bar #menuCheckbox {
    display: none;
}

.menu-bar .toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    margin: auto;
    margin-top: 0.45rem;
    margin-right: 0.45rem;
    display: block;
    height: calc(4px * 3 + 8px * 2);
}

.menu-bar .bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 6.5px;
    border-radius: calc(8px / 2);
    background: var(--primary);
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
}

.menu-bar .bar--top {
    bottom: calc(50% + 13px + 4px/ 2);
    transition-property: bottom,transform;
    transition-delay: calc(0s + 0.35s),0s;
}

.menu-bar .bar--middle {
    top: calc(50% / 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
}

.menu-bar .bar--bottom {
    top: calc(50% + 14px/ 2);
    transition-property: top, transform;
    transition-delay: calc(0s + 0.35s),0s;
}

.menu-bar input[type='checkbox']:checked + .toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s, calc(0s + 0.35s);
}

.menu-bar input[type='checkbox']:checked + .toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
}

.menu-bar input[type='checkbox']:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s,calc(0s + 0.35s);
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 20%;
}

@media only screen and (min-width: 992px) {
    header {
        padding: 1rem 2rem;
        position: static;
        display: none;
    }

    .header-title {
        font-size: 1.2rem;
        font-family: montserrat;
        text-transform: uppercase;
    }
}
