nav {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    z-index: 3000;
    display: none;
    flex-direction: column;
    padding: .8rem 1rem;
}

nav.show {
    display: flex;
}

.nav-logo {
    display: none;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 0.5rem;
}

.nav-menu > li {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.nav-menu >  li > a {
    color: black;
    text-decoration: none;
    padding: 0.185rem 0;
    font-size: .87rem;
    font-weight: bold;
    gap: 0.25rem;
    opacity: 1;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    display: flex;
    position: relative;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    font-family: montserrat-semi-bold;
    margin-inline: .3rem;
    margin-block: .7rem;
}

.dropdown {
    border-radius: 0.5rem;
    background: white;
    display: none;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 5px 30px
        rgba(27, 31, 35, 0.1),
        0 0 1px rgba(27, 31, 35, 0.4),
        0 1px 2px rgba(27, 31, 35, 0.15);
    z-index: 2;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.99)
            translateY(-0.7em);
        transform-origin: top;
    }
    to {
        opacity: 1;
        transform: scale(1)
            translateY(0);
    }
}

.nav-submenu {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 0.5rem;
}

.nav-submenu-item > a{
    display: flex;
    gap: 1rem;
    font-size: 0.875rem;
    width: 100%;
    text-decoration: none;
    color: var(--semi-black);
    margin-bottom: .5rem;
    font-family: montserrat-medium;
}

.nav-submenu-item > a:hover {
    color: var(--primary);
}

.nav-item:hover .dropdown {
    display: flex;
    opacity: 1;
}

.search-icon {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-right: 1rem;
    margin-left: .3rem;
    margin-top: 1rem;
    font-size: 3rem;
}

@media only screen and (min-width: 992px) {

    nav {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3000;
        height: auto;
        width: auto;
        background-color: var(--gray);
        display: flex;
        flex-direction: row;
        padding: .5rem .8rem;
        justify-content: space-between;
        align-items: center;
        /* border-radius: 50px; */
        /* transition: left 0.2s ease, right 0.2s ease, border-radius 0.2s ease; */
    }

    .nav-logo {
        width: 5%;
        display: block;
    }

    .nav-logo img {
        width: 100%;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
        gap: 0.5rem;
    }

    .nav-menu > li {
        display: flex;
        flex-direction: row;
        position: relative;
        cursor: pointer;
        align-items: center;
    }

    .nav-menu >  li > a {
        color: black;
        text-decoration: none;
        padding: 0.185rem 0;
        font-size: .87rem;
        font-weight: bold;
        gap: 0.25rem;
        opacity: 1;
        align-items: center;
        flex-wrap: nowrap;
        white-space: nowrap;
        display: flex;
        position: relative;
        transition: all 0.2s ease-in-out;
        text-transform: uppercase;
        font-family: montserrat-semi-bold;
        margin-inline: .3rem;
        margin-block: 0;
    }

    .dropdown {
        position: absolute;
        top: 1.5rem;
        min-width: 15rem;
        border-radius: 0.5rem;
        background: var(--gray);
        display: none;
        flex-direction: column;
        padding: 1rem;
        box-shadow: 0 5px 30px
            rgba(27, 31, 35, 0.1),
            0 0 1px rgba(27, 31, 35, 0.4),
            0 1px 2px rgba(27, 31, 35, 0.15);
        z-index: 2;
        animation: fadeIn 0.2s ease-in-out;
    }

    .nav-submenu {
        display: flex;
        list-style-type: none;
        flex-direction: column;
        gap: 0.5rem;
    }

    .nav-submenu-item > a{
        display: flex;
        gap: 1rem;
        font-size: 0.875rem;
        width: 100%;
        text-decoration: none;
        color: var(--semi-black);
        margin-bottom: .5rem;
        font-family: montserrat-medium;
    }

    .nav-submenu-item > a:hover {
        color: var(--primary);
        font-weight: 800;
    }

    .nav-item:hover .dropdown {
        display: flex;
        opacity: 1;
    }

    .search-icon {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-right: 1rem;
        margin-left: 0;
        margin-top: 0;
        font-size: 2rem;
    }
}
